<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="org.qwallet">

    <uses-sdk tools:overrideLibrary="org.qwallet.khartwarewallet.lib,im.status.hardwallet_lite_android"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false" tools:replace="android:required"/>

    <uses-feature android:name="android.hardware.camera"
                  android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus"
                  android:required="false"/>
    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".App"

            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <service android:name="org.qwallet.core.TransactionNotificationService"/>

        <activity android:name="org.qwallet.activities.qrscan.QRScanActivity"/>

        <activity android:name="org.qwallet.activities.SwitchNetworkActivity"/>
        <activity android:name="org.qwallet.activities.RequestActivity"/>
        <activity android:name=".activities.QRCodeActivity"/>
        <activity android:name="org.qwallet.activities.InfoActivity"/>
        <activity android:name="org.qwallet.activities.DebugWallethActivity"/>

        <activity android:name="org.qwallet.activities.trezor.TrezorSignTransactionActivity"/>
        <activity android:name="org.qwallet.activities.trezor.TrezorGetAddressActivity"/>

        <activity android:name="org.qwallet.activities.nfc.NFCGetAddressActivity"/>
        <activity android:name="org.qwallet.activities.nfc.NFCSignTransactionActivity"/>
        <activity android:name="org.qwallet.activities.ImportKeyActivity"/>

        <activity android:name="org.qwallet.activities.walletconnect.WalletConnectConnectionActivity"/>
        <activity android:name="org.qwallet.activities.walletconnect.WalletConnectErrorActivity"/>

        <activity android:name="org.qwallet.activities.ExportKeyActivity"/>
        <activity android:name="org.qwallet.activities.EditAccountActivity"/>
        <activity android:name="org.qwallet.activities.CreateAccountActivity"/>
        <activity android:name="org.qwallet.activities.SelectReferenceActivity"/>
        <activity android:name="org.qwallet.activities.ParitySignerQRActivity"/>
        <activity android:name="org.qwallet.activities.SignTextActivity"/>
        <activity android:name="org.qwallet.activities.SelectTokenActivity"/>
        <activity android:name="org.qwallet.activities.CreateTokenDefinitionActivity"/>
        <activity android:name="org.qwallet.activities.SecurityInfoActivity"/>

        <activity android:name="org.qwallet.activities.AccountPickActivity"/>
        <activity android:name="org.qwallet.activities.SwitchAccountActivity"/>
        <activity android:name="org.qwallet.activities.PreferenceActivity"/>
        <activity android:name="org.qwallet.activities.ViewTransactionActivity"/>
        <activity android:name="org.qwallet.activities.CreateTransactionActivity"/>

        <activity android:name="org.qwallet.activities.ToolbarSetupActivity"/>

        <activity android:name="org.qwallet.activities.IntentHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:scheme="ethereum"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:scheme="wc"/>
            </intent-filter>
        </activity>
        <activity android:name="org.qwallet.activities.MainActivity">

        </activity>

        <activity
                android:name=".activities.OpenSourceLicenseDisplayActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="org.qwallet.licenses"/>
            </intent-filter>
        </activity>

        <activity android:name="org.qwallet.activities.OfflineTransactionActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".activities.NewAccountTypeSelectActivity"/>
        <activity android:name=".activities.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:name=".activities.nfc.NFCEnterCredentialsActivity"/>

        <activity android:name=".activities.nfc.NDEFTagHandlingActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="vnd.android.nfc" android:host="ext"
                      android:pathPrefix="/android.com:pkg"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.RequestPINActivity"/>
        <activity android:name=".activities.RequestPasswordActivity"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.ImportAsActivity"/>

    </application>

</manifest>
